body{background-color:#B0BFB1;}



#left1-img{width:600px;
height:600px;
padding-right:40px;
}


#center1-img{width:600px;
    height:600px;

}

#right1-img{width:600px;
    height:600px;
padding-left:40px;
}